html {
  color-scheme: dark;
}
.btn {
  border: 0.125rem solid var(--color-primary);
  background-color: var(--color-mid);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
  transition: background-color var(--transition-timing);
}
.btn:not(:disabled):hover,
.btn:not(:disabled):focus-visible {
  background-color: var(--color-primary);
}
.btn + .btn {
  margin-left: 0.25rem;
}

.skeleton {
  animation: skeleton__pulse 3s ease-in-out infinite alternate;
}
@keyframes skeleton__pulse {
  0% {
    background-color: rgba(var(--white-rgb), 0.05);
  }
  100% {
    background-color: rgba(var(--white-rgb), 0.1);
  }
}
.scroll-shadows {
  /* Todo: Change to background images with animated positions */
  --scroll-shadows__top: 0;
  --scroll-shadows__bottom: 0;
  --scroll-shadows__bs: 1rem -1rem #111111a0 inset;
  /* prettier-ignore */
  box-shadow:
    0 var(--scroll-shadows__top) var(--scroll-shadows__bs),
    0 var(--scroll-shadows__bottom) var(--scroll-shadows__bs);
}
.scroll-shadows[data-is-at-scroll-top="false"] {
  --scroll-shadows__top: 2rem;
}
.scroll-shadows[data-is-at-scroll-bottom="false"] {
  --scroll-shadows__bottom: -2rem;
}

html::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  background: none;
  width: 14px;
  height: 14px;
}
html::-webkit-scrollbar-corner,
.scrollable::-webkit-scrollbar-corner {
  height: 0;
  width: 0;
}
@property --scrollable__thumb-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(121, 121, 121, 0.1);
}

.scrollable {
  --scrollable__thumb-color: rgba(121, 121, 121, 0.1);
  transition: --scrollable__thumb-color 0.25s ease-in-out;
}
html {
  --scrollable__thumb-color: rgba(100, 100, 100, 0.7);
}

.scrollable:hover {
  --scrollable__thumb-color: rgba(100, 100, 100, 0.7);
}

html::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  box-shadow: 1px 0 0 #393939 inset;
}

html::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--scrollable__thumb-color);
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}
.accordion__section {
  background-color: var(--color-mid);
  display: grid;
  grid-template-rows: auto 1fr;
  transition: flex var(--transition-timing);
}
.accordion__section--is-expanded {
  flex-grow: 2;
}
.accordion__section__content {
  height: 0;
  overflow: hidden;
}
.accordion__section--is-expanded > .accordion__section__content {
  height: unset;
}
.accordion__section__heading__button {
  padding: 0.5rem;
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.triangle {
  height: 1em;
  width: 1em;
  transition: transform var(--transition-timing);
  transform: rotateZ(calc(var(--triangle__angle) * 1deg));
}

.monaco-wrapper {
  height: 100%;
  overflow: hidden;
  max-height: 200vh;
}
.tile {
  opacity: 0.8;
  border-radius: var(--radius);
  transition: opacity var(--transition-timing);
}
.tile:focus,
.tile:focus-within,
.tile:hover {
  opacity: 0.95;
}

.monaco-wrapper * {
  line-height: unset;
}

.alert {
  /* Todo */
  background-color: var(--color-mid);
  border-left: 1rem solid;
  padding: 0.5rem;
  border-radius: var(--radius);
}

.alert.alert--warning {
  /* Todo */
  border-color: darkorange;
}
.alert.alert--error {
  /* Todo */
  border-color: red;
}
.alert.alert--success {
  /* Todo */
  border-color: dodgerblue;
}

.overlapper {
  display: grid;
}
.overlapper__content {
  grid-row: 1;
  grid-column: 1;
  visibility: hidden;
}

.overlapper__content--is-active {
  visibility: visible;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  animation: spinner__spin 1s linear infinite;
  border: 0.1875rem solid currentColor;
  border-right-color: transparent;
  border-radius: 1000px;
}
@keyframes spinner__spin {
  from {
    transform: rotateZ(0turn);
  }
  to {
    transform: rotateZ(1turn);
  }
}

.non-ideal-state {
  background-color: var(--color-mid);
}
.glass {
  background-image: radial-gradient(circle at top, #28282880, #20182080);
  backdrop-filter: blur(0.75rem);
  border-radius: var(--radius);
  border: 0.5px solid #ffffff10;
}
