html {
  background-color: #111116;
  color: #fff;
}
.main {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  overflow: hidden;
}
.main__content {
  display: grid;
  gap: 1rem;
  max-height: 100%;
  overflow: hidden;
}
.main__panel {
  padding: 0.5rem;
  background-color: #18181a;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  max-height: 100%;
  overflow: hidden;
}
.main__panel__header {
  margin-bottom: 0.5rem;
}
.main__panel__content {
  max-height: 100%;
  overflow-y: auto;
}
.main__panel__footer {
  text-align: end;
}

/* Big screens */
@media screen and (min-width: 1120px) {
  .main {
    height: 100vh;
  }
  .main__content {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* Small screens */
@media screen and (max-width: 1120px) {
  .main {
    height: calc(90vh * 3);
  }
  .main__content {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
}
.snippet-tile {
  background-color: #1e1e1e;
}
.snippet-tile__heading {
  min-width: 0;
}

.output-panel__content-container {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.output-panel__alert-container {
  overflow-x: auto;
}

.data-output {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: hidden;
}

.output-panel__sandbox-container,
.output-panel__sandbox-container > iframe {
  height: 100%;
  width: 100%;
}

.edit-snippet-modal__form {
  background-color: #1e1e1e;
  height: 80vh;
  width: 50rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sandbox-iframe:not([hidden]) {
  animation: sandbox-iframe__fade-in 0.25s ease-out 1 forwards;
}
@keyframes sandbox-iframe__fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
